.vscode/

# dependencies
node_modules/
*/node_modules/

*/yarn-error.log

.env

# builds
server/build/

# postgrest configuration
postgrest.conf
postgrest.dev.conf
postgrest.staging.conf
postgrest.production.conf