<nav class="navbar navbar-expand @@classList">
  <div class="@@container">

    <!-- Brand -->
    <a class="navbar-brand border border-primary rounded-circle text-primary p-1"
      href=" https://hello.whiteboard.systems">WS</a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <!-- <div class="collapse navbar-collapse" id="navbarCollapse"> -->

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fe fe-x"></i>
    </button>

    <!-- Navigation -->
    <ul class="navbar-nav">
      <li class="nav-item border-left ml-3">
        <a class="nav-link" id="navbarBlog" data-toggle="dropdown" href="https://blog.whiteboard.systems"
          aria-haspopup="true" aria-expanded="false">
          Blog
        </a>
      </li>
    </ul>

    <!-- Button -->
    <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" style="max-width: 150px;"
      href="https://whiteboard.systems" target="_blank">
      Try it now
    </a>

    <!-- </div> -->

  </div>
</nav>